<!-- <app-header></app-header> -->
<div class="alert alert-success" *ngIf="save">Registro guardado</div>
<section class="container py-5 h-100">
    <section class="row d-flex justify-content-center align-items-center h-100">
      <section class="col-12 col-md-8 col-lg-6 col-xl-5">
        <section class="card shadow-2-strong border-dark" style="border-radius: 5px">
          <section class="card-body px-5 text-center">
            <h3 class="mb-2">Registro</h3>
            <form [formGroup]="registroform">
                <section class="form-group">
                    <!-- caja1 -->
                    <label for="name" class="mt-3 h5">Nombres:</label>
                    <input formControlName="nombres" type="text" class="form-control my-3" id="name">
                    <section *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
                        <section *ngIf="nombres?.errors?.['required']" class="alert alert-success">
                            el nombre es obligatorio
                        </section>
                    </section>
                </section>
        
                <section class="form-group">
                    <!-- caja1 -->
                    <label for="lastname" class="mt-3 h5">Apellidos:</label>
                    <input formControlName="apellidos" type="text" class="form-control my-3" id="lastname">
                    <section *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
                        <section *ngIf="apellidos?.errors?.['required']" class="alert alert-success">
                            El apellido es obligatorio
                        </section>
                    </section>
                </section>
        
                <section class="form-group">
                    <!-- caja1 -->
                    <label for="username" class="mt-3 h5">Username:</label>
                    <input formControlName="usuario" type="email" class="form-control my-3" id="username">
                    <section *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)">
                        <section *ngIf="usuario?.errors?.['required']" class="alert alert-success">
                            el usuario es obligatorio
                        </section>
                    </section>
                </section>
                <section class="form-group">
                    <!-- caja2 -->
                    <label for="password" class="mt-3 h5">Password:</label>
                    <input formControlName="password" minlength="6" type="password" class="form-control my-3" id="password">
                    <section *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <section *ngIf="password?.errors?.['required']" class="alert alert-success">
                            la contraseña es obligatoria
                        </section>
                        <section *ngIf="password?.errors?.['minlength']" class="alert alert-success">
                            minlength
                        </section>
                    </section>
                    <!-- boton  -->
                </section>
                
                <div class="botoncentrado p-4">
                    <input class="btn btn-warning" [disabled]="registroform.invalid" (click)="EnviarMensaje()" value="iniciar sesion">
                </div>
            </form>
            <section>
                <!-- {{errorLogin}} -->
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
  
<!-- <app-footer></app-footer> -->